 <div class="MainContainer inline-flex space-x-20 items-center justify-center p-8" style="width: 1920px; height: 1080px;">
    <div class="Art flex items-start justify-start" style="width: 811px; height: 1016px;">
      <div class="画板1 bg-white" style="width: 681px; height: 842px;"></div>
    </div>
    <div class="Leftside 8 Column inline-flex flex-col items-center justify-center pl-24 bg-white bg-opacity-70 rounded-3xl" style="width: 890px; height: 1010px;">
      <div class="LoginForm flex flex-col space-y-6 items-center justify-center" style="width: 728px; height: 935px;">
        <div class="Intro flex flex-col items-start justify-start" style="width: 693px; height: 36px;">
          <p class="欢迎👋 text-center">欢迎 猪猪 👋</p>
        </div>
        <div class="Form flex flex-col space-y-6 items-end justify-center" style="width: 728px; height: 560px;">
          <p class="Todayis a new day. It's your day. You shape it. Sign in to start managing your projects. text-xl tracking-wide leading-loose text-center text-gray-700">  这是一个帮助您提高成绩的多功能app <br/>整理错题 删除书写痕迹 发布题目</p>
          <div class="Intro flex flex-col items-start justify-start" style="width: 658px; height: 36px;">
            <p class="欢迎👋 w-1/2 text-4xl tracking-wide leading-9 text-right text-gray-900">  学生登录</p>
          </div>
          <div class="Input flex flex-col space-y-2 items-start justify-start" style="width: 728px; height: 74px;">
            <p class="Label text-lg tracking-wide leading-none text-gray-900">邮箱/手机号</p>
            <input class="Input flex-1 text-base tracking-wide leading-none text-gray-400 py-4 pl-8 pr-96 bg-gray-50 border rounded-xl border-gray-300" style="width: 728px; height: 48px;" placeholder="Example@email.com"></input>
          </div>
          <div class="Input flex flex-col space-y-2 items-start justify-start" style="width: 728px; height: 74px;">
            <p class="Label text-lg tracking-wide leading-none text-gray-900">密码</p>
            <input class="Input flex-1 text-base tracking-wide leading-none text-gray-400 py-4 pl-8 pr-96 bg-gray-50 border rounded-xl border-gray-300" style="width: 728px; height: 48px;" placeholder="At least 8 characters"></input>
          </div>
          <div class="Input flex flex-col space-y-2 items-start justify-start" style="width: 728px; height: 74px;">
            <p class="Label text-lg tracking-wide leading-none text-gray-900">邀请码</p>
            <input class="Input flex-1 text-base tracking-wide leading-none text-gray-400 py-4 pl-8 pr-96 bg-gray-50 border rounded-xl border-gray-300" style="width: 728px; height: 48px;" placeholder="At least 8 characters"></input>
          </div>
          <p class="ForgotPassword? text-base tracking-wide leading-none text-center text-blue-700">忘记 密码？</p>
          <div class="MainButton inline-flex items-center justify-start py-4 bg-gray-800 rounded-xl" style="width: 728px; height: 52px;">
            <p class="Signin text-xl tracking-wide leading-tight text-center text-white" style="width: 728px; height: 20px;">登 录</p>
          </div>
        </div>
        <div class="SocialSign in  flex flex-col space-y-6 items-start justify-start" style="width: 388px; height: 180px;">
          <div class="Or inline-flex space-x-4 items-center justify-center py-2.5" style="width: 388px; height: 36px;">
            <div class="Line2 flex-1 h-0.5 border-gray-300"></div>
            <p class="Or text-base tracking-wide leading-none text-center text-gray-700">Or</p>
            <div class="Line1 flex-1 h-0.5 border-gray-300"></div>
          </div>
          <div class="Socialbuttons columns flex flex-col space-y-4 items-start justify-start" style="width: 388px; height: 120px;">
            <div class="Socialbutton inline-flex space-x-4 items-center justify-center px-2 py-3 bg-gray-50 rounded-xl" style="width: 388px; height: 52px;">
              <img class="Google w-7 h-full rounded-lg" src="https://via.placeholder.com/28x28" />
              <p class="Signin with Facebook w-40 text-base tracking-wide leading-none text-gray-700">Sign in with Google</p>
            </div>
            <div class="Socialbutton inline-flex space-x-4 items-center justify-center px-2 py-3 bg-gray-50 rounded-xl" style="width: 388px; height: 52px;">
              <img class="Facebook w-7 h-full rounded-lg" src="https://via.placeholder.com/28x28" />
              <p class="Signin with Facebook w-40 text-base tracking-wide leading-none text-gray-700">Sign in with Facebook</p>
            </div>
          </div>
        </div>
        <p class="Don'tyou have an account? Sign up w-96 text-lg tracking-wide leading-7 text-center">你没有账户?  注 册</p>
        <p class="©2023 ALL RIGHTS RESERVED w-96 text-base tracking-wide leading-none text-center text-gray-400">© 2023 ALL RIGHTS RESERVED</p>
      </div>
    </div>
 </div>
